<div class="container">
    <button>
        <img class="icon" src="/assets/home.png" alt="home icon">
    </button>
    <button>
        <img class="icon"  src="/assets/shapes.png" alt="home icon">
    </button>
    <button>
        <img class="icon"  src="/assets/compass.png" alt="home icon">
    </button>
    <button>
        <img class="icon"  src="/assets/grocery-store.png" alt="home icon">
    </button>
    <button>
        <img class="icon"  src="/assets/user.png" alt="home icon">
    </button>

</div>
