<div class="container">
    <div class="card">
        <img src="/assets/special3.jpg" alt="Burger-Queen"/>
        <div class="data">
            <div class="row">
                <h3>{{name}}</h3>
                <h3>Price:{{price}}</h3>
            </div>
            
            <h4>{{stockData}}</h4>
            <h4>{{rating}}</h4>
        </div>
    </div>
    <div class="qty">

    </div>
    <div class="details">
        <h3>Product Details</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat necessitatibus, 
    earum incidunt impedit, dolorem atque perferendis voluptate odio facere inventore 
    quis in optio ipsam
     at, harum a vitae aperiam quam!</p>
    </div>
   
</div>
